/*  *.*_*.*  Nav bar  *.*_*.*  */

#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  gap: 1.2rem;/*reduce on small screens*/
  justify-content: center;
}

#main-nav .logo,
#main-nav .links {
  justify-self: center;
}

#main-nav .links li a {
  padding: 0.5rem;
}

/*  *.*_*.*  Articles section  *.*_*.*  */

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);

}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}


/* Small-medium screens */
@media screen and (max-width: 710px) {
  /*  Footer  */
  #main-footer .footer-container *:first-child {
    grid-column: 1 / span 3;
  }
  #main-footer .footer-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  
  #main-footer .footer-container > *:last-child {
    grid-column: 1 / span 3;
    padding: 0;
  }
}


/* Small screens */
@media screen and (max-width: 600px) {
  /* Utility class */
  .l-heading {
    font-size: 2rem;
  }
  /*  Make all sections 1 column  */
  #hero .hero-container,
  #home-articles .articles-container,
  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }
  /* Hero section */
  #hero {
    padding: 1.5rem;
  }
  #hero .container {
    padding: 0;
  }
  /* Articles */
  #home-articles .container {
    padding: 0 1rem;
  }
  /* Footer */
  #main-footer .footer-container > *:first-child,
  #main-footer .footer-container > *:last-child {
    grid-column: 1;
  }
  #main-footer .footer-container > *:first-child,
  #main-footer .footer-container > *:nth-child(2) {
    padding-bottom: 1rem;
    border-bottom: 1px dotted #444444;
  }
  #main-footer .footer-container input[type='email'],
  #main-footer .footer-container input[type='submit'] {
    width: 100%;
  }

  /* Other pages */
  .page-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .page-container > *:first-child {
    grid-row: 1;
  }  
  .page-content .container {
    padding: 0 1rem;
  }
}


/* Smaller screens */
@media screen and (max-width: 420px) {
  .page-content .meta {
    flex-direction: column;
  }
  .page-content .meta small {
    margin-left: 0;
    margin-top: 0.4rem;
  }
  .page-content .meta .category {
    margin-right: 0;
  }
}

@media screen and (max-width: 325px) {
  #hero {
    padding: 1rem;
  }
  #main-footer .container {
    padding: 0 1.5rem;
  }
}