/*  *.*_*.*  Nav bar  *.*_*.*  */

#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  gap: 1.2rem;/*reduce on small screens*/
  justify-content: center;
}

#main-nav .logo,
#main-nav .links {
  justify-self: center;
}

#main-nav .links li a {
  padding: 0.5rem;
}

/*  *.*_*.*  Articles section  *.*_*.*  */

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);

}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

